# Use this requirements-minimal.txt if you wish to use your existing installation of Jupyter, numpy etc.
# Please be aware: you might find you have to debug the installation of dependencies
beautifulsoup4
doccano-transformer
matplotlib
nbconvert
wptools
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz#egg=en_core_web_sm
spacy==3.3.0
pymorphy2
sparqlwrapper