# Use this requirements-minimal.txt if you wish to use your existing installation of Jupyter, numpy etc.
# Please be aware: you might find you have to debug the installation of dependencies
beautifulsoup4
doccano-transformer
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm
matplotlib
pymorphy2
spacy==2.2.4
sparqlwrapper
wptools
